<div> <h2>Delivery</h2></div>
    <form class="row g-3 p-3" [formGroup]="deliveryFormGroup">
      <div class="col-md-6">
        <label for="nom" class="form-label">Pickup Time</label>
        <input type="datetime-local" placeholder="Pickup Time" class="form-control" formControlName="pickup_time" id="pickup_time" aria-label="First name">
        <small class="text-danger" *ngIf="deliveryFormGroup.controls['pickup_time'].errors && deliveryFormGroup.controls['pickup_time'].touched">
          {{ this.adminService.getErrorMessage("Pickup Time", deliveryFormGroup.controls['pickup_time'].errors)}}
        </small>
      </div>
      <div class="col-md-6">
        <label for="start_time" class="form-label">Start Time</label>
        <input type="datetime-local" placeholder="Start Time" formControlName="start_time" class="form-control" id="start_time">
        <small class="text-danger" *ngIf="deliveryFormGroup.controls['start_time'].errors && deliveryFormGroup.controls['start_time'].touched">
          {{ this.adminService.getErrorMessage("Start Time", deliveryFormGroup.controls['start_time'].errors)}}
        </small>
      </div>
      <div class="col-md-6">
        <label for="location_lat" class="form-label">Location Lat</label>
        <input type="number" placeholder="Location Lat" formControlName="location_lat" class="form-control" id="location_lat">
        <small class="text-danger" *ngIf="deliveryFormGroup.controls['location_lat'].errors && deliveryFormGroup.controls['location_lat'].touched">
          {{ this.adminService.getErrorMessage("Location Lat", deliveryFormGroup.controls['location_lat'].errors)}}
        </small>
      </div>
      <div class="col-md-6">
        <label for="location_lng" class="form-label">Location Lng</label>
        <input type="number" placeholder="Location Lng" formControlName="location_lng" class="form-control" id="location_lng">
        <small class="text-danger" *ngIf="deliveryFormGroup.controls['location_lng'].errors && deliveryFormGroup.controls['location_lng'].touched">
          {{ this.adminService.getErrorMessage("Location Lng", deliveryFormGroup.controls['location_lng'].errors)}}
        </small>
      </div>
      <div class="col-md-6">
        <label for="status" class="form-label">Status</label>
        <select class="form-select" formControlName="status" aria-label=".form-select-lg example">
          <option value="open"> Open</option>
          <option value="picked-up">Picked-up</option>
          <option value="in-transit">In-transit</option>
          <option value="delivered">Delivered</option>
          <option value="failed">Failed</option>
        </select>
        <small class="text-danger" *ngIf="deliveryFormGroup.controls['status'].errors && deliveryFormGroup.controls['status'].touched">
          {{ this.adminService.getErrorMessage("Status", deliveryFormGroup.controls['status'].errors)}}
        </small> 
    </div>
    <div class="col-md-6">
      <label for="package_id" class="form-label">ID Package</label>
      <select class="form-select" formControlName="package_id" aria-label=".form-select-lg example">
        <option *ngFor="let package of packages" [value]="package.package_id"> {{package.to_name}} </option>
      </select>
      <small class="text-danger" *ngIf="deliveryFormGroup.controls['package_id'].errors && deliveryFormGroup.controls['package_id'].touched">
        {{ this.adminService.getErrorMessage("Status", deliveryFormGroup.controls['package_id'].errors)}}
      </small> 
  </div>
          
        <div class="col-12">
          <button type="submit" class="btn btn-primary"
           [disabled]="deliveryFormGroup.invalid" (click)="onSubmit()" >Enregistrer</button>
        </div>
      </form>